<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.hospital.model.User">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <id column="ACCOUNT" jdbcType="VARCHAR" property="account" />
        <id column="PASSWORD" jdbcType="VARCHAR" property="password" />
        <id column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
        <id column="PHONE" jdbcType="VARCHAR" property="phone" />
        <id column="ADDRESS" jdbcType="VARCHAR" property="address" />
        <id column="HEAD_IMG" jdbcType="VARCHAR" property="headImg" />
        <id column="LAT" jdbcType="VARCHAR" property="lat" />
        <id column="LON" jdbcType="VARCHAR" property="lon" />
        <id column="GENDER" jdbcType="INTEGER" property="gender" />
        <id column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
        <id column="AGE" jdbcType="INTEGER" property="age" />
        <id column="EMAIL" jdbcType="VARCHAR" property="email" />
        <id column="WEIXIN" jdbcType="VARCHAR" property="weixin" />
        <id column="QQ" jdbcType="VARCHAR" property="qq" />
        <id column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <id column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <id column="STATUS" jdbcType="INTEGER" property="status" />
        <id column="DEPARTMENT_ID" jdbcType="VARCHAR" property="departmentId" />
        <id column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
        <id column="USER_DESC" jdbcType="VARCHAR" property="userDesc" />
        <id column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    </resultMap>
    <select id="getUserByAccount" parameterType="com.hospital.model.User" resultMap="BaseResultMap">
        SELECT * FROM client_user where ACCOUNT = #{account,jdbcType=VARCHAR} AND STATUS = 1
    </select>
    <insert id="insertUser" parameterType="com.hospital.model.User">
        insert into client_user
		(ID,HEAD_IMG,ACCOUNT,PASSWORD,NICK_NAME,PHONE,ADDRESS,LAT,LON,GENDER,BIRTHDAY,AGE,EMAIL,WEIXIN,QQ,CREATE_TIME,UPDATE_TIME,STATUS,DEPARTMENT_ID,ROLE_ID,USER_DESC,REAL_NAME)
		values
		(#{id,jdbcType=VARCHAR},#{headImg,jdbcType=VARCHAR},#{account,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{nickName,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{lat,jdbcType=VARCHAR},#{lon,jdbcType=VARCHAR},#{gender,jdbcType=INTEGER},#{birthday,jdbcType=TIMESTAMP},#{age,jdbcType=INTEGER},#{email,jdbcType=VARCHAR},#{weixin,jdbcType=VARCHAR},#{qq,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER},#{departmentId,jdbcType=VARCHAR},#{roleId,jdbcType=VARCHAR},#{userDesc,jdbcType=VARCHAR},#{realName,jdbcType=VARCHAR}
		)
    </insert>
    <insert id="insertSelective" parameterType="com.hospital.model.User">
        insert into client_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="account != null">ACCOUNT,</if>
            <if test="password != null">PASSWORD,</if>
            <if test="nickName != null">NICK_NAME,</if>
            <if test="phone != null">PHONE,</if>
            <if test="address != null">ADDRESS,</if>
            <if test="headImg != null">HEAD_IMG,</if>
            <if test="lat != null">LAT,</if>
            <if test="lon != null">LON,</if>
            <if test="gender != null">GENDER,</if>
            <if test="birthday != null">BIRTHDAY,</if>
            <if test="age != null">AGE,</if>
            <if test="email != null">EMAIL,</if>
            <if test="weixin != null">WEIXIN,</if>
            <if test="qq != null">QQ,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="status != null">STATUS,</if>
            <if test="departmentId != null">DEPARTMENT_ID,</if>
            <if test="roleId != null">ROLE_ID,</if>
            <if test="userDesc != null">USER_DESC,</if>
            <if test="realName != null">REAL_NAME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
            <if test="account != null">#{account,jdbcType=VARCHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
            <if test="nickName != null">#{nickName,jdbcType=VARCHAR},</if>
            <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
            <if test="address != null">#{address,jdbcType=VARCHAR},</if>
            <if test="headImg != null">#{headImg,jdbcType=VARCHAR},</if>
            <if test="lat != null">#{lat,jdbcType=VARCHAR},</if>
            <if test="lon != null">#{lon,jdbcType=VARCHAR},</if>
            <if test="gender != null">#{gender,jdbcType=INTEGER},</if>
            <if test="birthday != null">#{birthday,jdbcType=TIMESTAMP},</if>
            <if test="age != null">#{age,jdbcType=INTEGER},</if>
            <if test="email != null">#{email,jdbcType=VARCHAR},</if>
            <if test="weixin != null">#{weixin,jdbcType=VARCHAR},</if>
            <if test="qq != null">#{qq,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="status != null">#{status,jdbcType=INTEGER},</if>
            <if test="departmentId != null">#{departmentId,jdbcType=VARCHAR},</if>
            <if test="roleId != null">#{roleId,jdbcType=VARCHAR},</if>
            <if test="userDesc != null">#{userDesc,jdbcType=VARCHAR},</if>
            <if test="realName != null">#{realName,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hospital.model.User">
        update client_user
        <set>
            <if test="account != null">ACCOUNT =#{account,jdbcType=VARCHAR},</if>
            <if test="password != null">PASSWORD =#{password,jdbcType=VARCHAR},</if>
            <if test="nickName != null">NICK_NAME =#{nickName,jdbcType=VARCHAR},</if>
            <if test="phone != null">PHONE =#{phone,jdbcType=VARCHAR},</if>
            <if test="address != null">ADDRESS =#{address,jdbcType=VARCHAR},</if>
            <if test="lat != null">LAT =#{lat,jdbcType=VARCHAR},</if>
            <if test="lon != null">LON =#{lon,jdbcType=VARCHAR},</if>
            <if test="headImg != null">HEAD_IMG =#{headImg,jdbcType=VARCHAR},</if>
            <if test="gender != null">GENDER =#{gender,jdbcType=INTEGER},</if>
            <if test="birthday != null">BIRTHDAY =#{birthday,jdbcType=TIMESTAMP},</if>
            <if test="age != null">AGE =#{age,jdbcType=INTEGER},</if>
            <if test="email != null">EMAIL =#{email,jdbcType=VARCHAR},</if>
            <if test="weixin != null">WEIXIN =#{weixin,jdbcType=VARCHAR},</if>
            <if test="qq != null">QQ =#{qq,jdbcType=VARCHAR},</if>
            <if test="createTime != null">CREATE_TIME =#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="status != null">STATUS =#{status,jdbcType=INTEGER},</if>
            <if test="departmentId != null">DEPARTMENT_ID =#{departmentId,jdbcType=VARCHAR},</if>
            <if test="roleId != null">ROLE_ID =#{roleId,jdbcType=VARCHAR},</if>
            <if test="userDesc != null">USER_DESC =#{userDesc,jdbcType=VARCHAR},</if>
            <if test="realName != null">REAL_NAME =#{realName,jdbcType=VARCHAR},</if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from client_user where ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="userLogin" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM client_user where ACCOUNT = '${account}' AND PASSWORD = '${password}' AND STATUS = 1
    </select>
</mapper>